.nav{
    padding: 20px 20px;
    grid-area: nav;
    background-color: green;
}

.item{
    padding: 5px;
    color: white;
}
.item a{
    color: white;
    text-decoration: none;

}

.item a.activeLink {
    color: gold;
}