.dialogs{
    display: grid;
    grid-template-columns: 5fr 7fr;

}

.dialogsItem{

}
.dialogsItem .active{
    color: red;
}
.dialog{
    padding: 20px;

}

.messages{

}

.message{
    padding: 20px;
}